<!DOCTYPE html>
<html>
    <head>
        <title>Aprenda</title>
        <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.3.0/pure-min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type='text/css'>
        <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' type='text/css'>
    </head>
    
    <body>
        {% block body %}
            {% for topico in topicos %}
                <i>{{ topico['id'] }}</i>
                <h2>{{ topico['titulo'] }}</h2>
            {% endfor %}
        {% endblock %}
        <h1>---</h1>
        {% block livros %}
            {% for livro in livros %}
                <i>{{ livro['isbn'] }}</i>
                <h2>{{ livro['criador'] }}</h2>
            {% endfor %}
        {% endblock %}
    </body>
</html>