{% extends "base.html" %}

{% block pagtitulo %}Login/Registro{% endblock %}

{% block content %}
<div class="container">
    {% if erros %}
    <div class="alert alert-warning">
        <ul>
        {% for erro in erros %}
            <li>{{ erro }}</li>
        {% endfor %}
        </ul>
    </div>
    {% endif %}


    <div class="griditem col-md-5">
        <div class="tableheader">
            Login
        </div>
        <div class="tablecontent">
            <form action="" method="post" id="loginform" role="form">
                <div class="form-group">
                    <label for="nomeusuario">Nome de usuário</label>
                    <input type="text" class="form-control" name="nomeusuario"
                    value={{ loginfo['nomeusuario'] }}>
                </div>
                <div class="form-group">
                    <label for="password">Senha</label>
                    <input type="password" class="form-control" name="password">
                </div>
                <button type="submit" name="btn" value="log" class="btn btn-default">Login</button>
            </form>
        </div>
    </div>
    <div class="griditem col-md-2">
        <div class="ou">Ou</div>
    </div>
    <div class="griditem col-md-5">
        <div class="tableheader">
            Registro
        </div>
        <div class="tablecontent">
            <form action="" method="post" id="registroform" role="form">
                <div class="form-group">
                    <label for="nomeusuario">Nome de usuário</label>
                    <input type="text" class="form-control" name="nomeusuario"
                    data-toggle="popover"
                    data-placement="left"
                    data-content="Este nome de usuário já está cadastrado">
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="text" class="form-control" name="email"
                    data-toggle="popover"
                    data-placement="left"
                    data-content="Este email já cadastrado">
                </div>
                <div class="form-group">
                    <label for="password">Senha</label>
                    <input type="password" class="form-control" name="password">
                </div>
                <div class="form-group">
                    <label for="nasc">Data de nascimento</label>
                    <input type="text" class="form-control" name="nasc"
                    placeholder="DD/MM/AAAA">
                </div>
                <div class="form-group">
                    <label class="radio-inline">
                        <input name="sexoradio" type="radio" value="masc">
                        Masculino
                    </label>
                    <label class="radio-inline">
                        <input name="sexoradio" type="radio" value="fem">
                        Feminino
                    </label>
                    <label class="radio-inline">
                        <input name="sexoradio" type="radio" value="na">
                        N/A
                    </label>
                </div>
                <button type="submit" name="btn" value="reg" class="btn btn-default">Registrar</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
