{% extends "base.html" %}

{% block pagtitulo %}Tópicos{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="griditem col-md-12">
            <div class="tableheader">
                Lista
                {% if g.usuario %}
                    <span class="tablefloatright">
                        <a class="addbtn" href="{{ url_for('addtopico') }}"
                            rel="tooltip" data-placement="top"
                            title="Adicionar">
                            <i class="fa fa-plus-circle"></i>
                        </a>
                    </span>
                {% endif %}
            </div>
            <div class="tablecontent">
                <table class="table table-condensed tablelist">
                    <thead>
                        <tr>
                            <th>Tópico</th>
                            <th style="width:10%">
                                <i class="fa fa-arrow-down"
                                   rel="tooltip" data-placement="top"
                                   title="Subtópicos"></i>
                            </th>
                            <th style="width:10%">
                                <i class="fa fa-arrow-up"
                                   rel="tooltip" data-placement="top"
                                   title="Supertópicos"></i>
                            </th>
                            <th style="width:10%">
                                <i class="fa fa-link"
                                   rel="tooltip" data-placement="top"
                                   title="Links"></i>
                            </th>
                            <th style="width:10%">
                                <i class="fa fa-video-camera"
                                   rel="tooltip" data-placement="top"
                                   title="Vídeos"></i>
                            </th>
                            <th style="width:10%">
                                <i class="fa fa-book"
                                   rel="tooltip" data-placement="top"
                                   title="Livros"></i>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for topico in topicos %}
                            <tr>
                                <td>
                                    <a href="{{ url_for('topico', topicoid=topico['id']) }}">
                                        {{ topico['titulo'] }}
                                    </a>
                                </td>
                                <td>{{ topico['n_subtopicos'] }}</td>
                                <td>{{ topico['n_supertopicos'] }}</td>
                                <td>{{ topico['n_links'] }}</td>
                                <td>{{ topico['n_videos'] }}</td>
                                <td>{{ topico['n_livros'] }}</td>
                            </tr>
                        {% else %}
                            <li>Nenhum</li>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
