{% extends "base.html" %}

{% block pagtitulo %}{{ topico['titulo'] }}{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="griditem col-md-4">
            <div class="tableheader">
                Descrição
                {% if g.usuario %}
                    <span class="tablefloatright">
                        <a class="addbtn" href="#" rel="tooltip"
                            data-placement="top" title="Adicionar">
                            <i class="fa fa-plus-circle"></i>
                        </a>
                    </span>
                {% endif %}
            </div>
            <div class="tablecontent">
                Ainda não
            </div>
        </div>
        <div class="griditem col-md-4">
            <div class="tableheader">
                Subtópicos
                {% if g.usuario %}
                    <span class="tablefloatright">
                        <a class="addbtn" href="#" rel="tooltip"
                            data-placement="top" title="Adicionar">
                            <i class="fa fa-plus-circle"></i>
                        </a>
                    </span>
                {% endif %}
            </div>
            <div class="tablecontent">
                <div class="tablelist">
                    <ul>
                        {% for subtopico in topico['subtopicos'] %}
                            <li>
                                <a href="{{ url_for('topico', topicoid=subtopico['st_id']) }}">
                                    {{ subtopico['st_titulo'] }}
                                </a>
                            </li>
                        {% else %}
                            <li>Nenhum</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="griditem col-md-4">
            <div class="tableheader">
                Supertópicos
                {% if g.usuario %}
                    <span class="tablefloatright">
                        <a class="addbtn" href="#" rel="tooltip"
                            data-placement="top" title="Adicionar">
                            <i class="fa fa-plus-circle"></i>
                        </a>
                    </span>
                {% endif %}
            </div>
            <div class="tablecontent">
                <div class="tablelist">
                    <ul>
                        {% for supertopico in topico['supertopicos'] %}
                            <li>
                                <a href="{{ url_for('topico', topicoid=supertopico['st_id']) }}">
                                    {{ supertopico['st_titulo'] }}
                                </a>
                            </li>
                        {% else %}
                            <li>Nenhum</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="griditem col-md-4">
            <div class="tableheader">
                Livros
                {% if g.usuario %}
                    <span class="tablefloatright">
                        <a class="addbtn" href="#" rel="tooltip"
                            data-placement="top" title="Adicionar">
                            <i class="fa fa-plus-circle"></i>
                        </a>
                    </span>
                {% endif %}
            </div>
            <div class="tablecontent">
                <div class="tablelist">
                    <ul>
                        {% for livro in topico['livros'] %}
                            <li>
                                <a href="#">
                                    {{ livro['titulo'] }}
                                    {% if subtitulo in livro %}
                                        - {{ livro['subtitulo'] }}
                                    {% endif %}
                                </a>
                                <span class="subtext">
                                    {{ livro['escritores'] }}
                                </span>
                            </li>
                        {% else %}
                            <li>Nenhum</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>

        <div class="griditem col-md-4">
            <div class="tableheader">
                Links
                {% if g.usuario %}
                    <span class="tablefloatright">
                        <a class="addbtn" href="#" rel="tooltip"
                            data-placement="top" title="Adicionar">
                            <i class="fa fa-plus-circle"></i>
                        </a>
                    </span>
                {% endif %}
            </div>
            <div class="tablecontent">
                <div class="tablelist">
                    <ul>
                            {% for link in topico['links'] %}
                            <li>
                                <a href="{{ link['url'] }}">
                                    {{ link['titulo'] }}
                                </a>
                            </li>
                        {% else %}
                            <li>Nenhum</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>

        <div class="griditem col-md-4">
            <div class="tableheader">
                Vídeos
                {% if g.usuario %}
                    <span class="tablefloatright">
                        <a class="addbtn" href="#" rel="tooltip"
                            data-placement="top" title="Adicionar">
                            <i class="fa fa-plus-circle"></i>
                        </a>
                    </span>
                {% endif %}
            </div>
            <div class="tablecontent">
                <div class="tablelist">
                    <div class="listitem">
                        <ul>
                            <li>
                                Depois
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
