{% extends "base.html" %}

{% block pagtitulo %}Tópicos{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="griditem col-md-12">
            <div class="tableheader">
                Lista
                <span class="tablefloatright">
                    <a class="addbtn" href="#" rel="tooltip" data-placement="left" title="Adicionar">+</a>
                </span>
            </div>
            <div class="tablecontent">
                <table class="table table-condensed tablelist">
                    <thead>
                        <tr>
                            <th>Tópico</th>
                            <th style="width:10%">Subtópicos</th>
                            <th style="width:10%">Supertópicos</th>
                            <th style="width:10%">Links</th>
                            <th style="width:10%">Vídeos</th>
                            <th style="width:10%">Livros</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for topico in topicos %}
                            <tr>
                                <td>
                                    <a href="{{ url_for('topico', topicoid=topico['id']) }}">
                                        {{ topico['titulo'] }}
                                    </a>
                                </td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                                <td>0</td>
                            </tr>
                        {% else %}
                            <li>Nenhum</li>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
